@model int
<style>
	.imgdiv{
		background-size:100% 100%;
	}

	.orderinimg{
		max-width:100%;
	}
</style>

	<div class="col-12 text-center">
	<h3>Thank You </h3>
	<br />

		<div class="imgdiv">
			<img id="orderinimg" src="~/img/orderdone.jpg" />

		</div>

	</div>
	<div class="col-12 text-center">
		<h2>Your Order Number @Model Has been Successfully </h2>

	</div>
