@{
    ViewBag.PageTitle = "Order Management";
    ViewBag.CardTitle = "View Order";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<table id="mytable" class="table table-hover" width="100%">
    <thead>
    <tr>
        <td>  Id </td>
        <td>Name</td>
        <td> PhoneNumber </td>
        <td> Email </td>
        <td> OrderStatus </td>
        <td> Total </td>
        <td> Actions </td>
    </tr>
    </thead>
  </table>
 @section Scripts{
     <script src="~/js/Order.js"></script>
 }